@import "normalize.css";

body, html {
  width: 100%;
  height: 100%;
}

body, div, span, a, img, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

* {
  position: relative;
}

body {
  background-color: #F7F8FA;
  /*background-color: #FFFFFF;*/
  color: #202020;
  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  font-weight: 100;
}

p {
  font-size: 16px;
}

a {
  font-weight: 400;
}

/*a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}
*/
.site {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: linear-gradient(to bottom, rgba(247, 248, 250, 1), rgba(247, 248, 250, 0.1)), url("../img/bg.jpg") no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.site__main {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}

.site__left-sidebar {
  flex-basis: auto;
  flex-grow: 0;
  position: fixed;
  width: 170px;
  padding: 10px 20px;
}

.site__content {
  flex-basis: 0;
  flex-grow: 1;
  margin-left: 170px;
  padding: 10px 4%;
}

.products {
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  width: 50%;
  padding: 10px;
}

.product__display {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid rgba(215, 215, 215, 1);
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.product__img {
  width: 100%;
  margin-bottom: 10px;
}

.product__add {
  background-color: rgba(215, 215, 215, 1);
  border-radius: 50%;
  padding: 10px;
}

.product__price {
  position: absolute;
  top: 12px;
  right: 12px;
}

.product__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justfiy-content: center;
}

.product__name {
  flex-basis: 0;
  flex-grow: 1;

}

.product__heart {
  flex-basis: auto;
  flex-grow: 0;
}

.site__right-sidebar {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.cart {
  flex-basis: 0;
  flex-grow: 1;
  align-self: stretch;
  overflow: auto;
  background-color: rgba(192, 207, 221, 1);
  padding: 0 6% 0 6%;
}
.cart__title {
  position: fixed;
  padding-top: 20px;
  width: 100%;
  height: 70px;
  z-index: 10;
  background: linear-gradient(to bottom, rgba(192, 207, 221, 1), rgba(192, 207, 221, 0.6));
  /*background-color: rgba(192, 207, 221, 1);*/
}
.cart__content {
  margin-top: 75px;
  margin-bottom: 20px;
}
.cart-item {
  margin-bottom: 20px;
}

.cart-item__top-part {
  display: flex;
  flex-direction: row;
  /*padding: 5px 30px;*/
}

.cart-item__image {
  width: 33%;
}

.cart-item__image img {
  width: 100%;
}

.cart-item__top-part__middle {
  flex-grow: 1;
  flex-basis: 0;
  align-self: center;
  padding: 5px 20px;
}
.cart-item__qty {
  flex-direction: row;
}

.cart-overlay {
  width: 100%;
  height: 40px;
  background: linear-gradient(to top, rgba(192, 207, 221, 1), rgba(192, 207, 221, 0))
}

.adjust-qty {
  flex-direction: row;
  justify-content: center;
  width: 33%;
  padding: 10px 0;
}

.adjust-qty__button {
  background-color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding-left: 7px;
  padding-top: 1px;
  margin: 0px 7px;
}

.checkout {
  flex-basis: auto;
  flex-grow: 0;
  height: 300px;
  width: 100%;
  margin-top: -30px;
  padding: 0 6% 20px 6%;
  /*background-color: rgba(192, 207, 221, 1);*/
  background: linear-gradient(to bottom, rgba(192, 207, 221, 1), rgba(192, 207, 221, 0.4), transparent);
  /*background: linear-gradient(to bottom, #c4ccda, rgba(247,248,250,0.1));*/
}
.checkout__coupon-input {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
}

.checkout__detail {
  justify-content: flex-start;
  margin-bottom: 10px;
}

.checkout__row {
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;

}

.checkout__label {
  width: 30%;
}

.checkout__label-subtotal {
  font-weight: 600;
}

.checkout__amount {
  width: 70%;
  text-align: right;
}
.checkout__amount-strikeout {
  text-decoration: line-through;
}

.checkout__amount-saving {
  font-weight: 600;
  color: red;
}

.checkout__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  background-color: rgb(128, 166, 145);
  border: none;
  border-radius: 2%;
}

.checkout__button__img {
  padding-right: 10px;
}

hr {
  border:1px solid grey;
  height:0px;
  width: 50%;
}

.site__right-sidebar-toggle {
  display: none;
}

@media (max-width: 950px) {
  .site__right-sidebar {
    width: 40%;
  }

  .site__main {
    width: 60%;
  }

  .product {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .site__right-sidebar {
    display: none;
  }

  .site__left-sidebar {
    display: none;
  }

  .site__main {
    width: 100%;

  }

  .site__content {
    margin-left: 0;
  }

  .site__right-sidebar-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 55px;
    background-color: rgb(35, 43, 63);
  }

  body.js-show-right-sider .site__right-sidebar-toggle {
    position: fixed;
    bottom: 0;
    right: 80%;
  }

  body.js-show-right-sider .site__right-sidebar {
    display: block !important;
    width: 80%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: auto;
  }
}




